@media only screen and (min-width: 1px) and (max-width: 1024px) {

html {
   margin: 0;
   padding:  0;
}

body {
   background-color: #F5ECE9;
   margin: 0;
   padding:  0;
}

#container {
  margin-right: 0;
  display: block;
}

#navigation {
  border-radius: 0;
  width: 100%;
  max-width: 100%;
  height: 100px;
  margin-left: 0;
}

#navigation a, ul {
  visibility: hidden;
}

#logo {
  width: 100%;
  padding: 0;
  max-width: 100%;
}

p, p#primo, p#ingmar {
   font-size: 30px;
   color: #222222;
   display: block;
   }

p#primo, p#ingmar {
  text-align: center;
  font-size: 25px;
}

#boxtesto1 {
  padding-bottom: 40px;
}

#ciak {
  width: 25%;
  padding-top: 80px;
  left: 30px;
  bottom: 20px;
}

#cosatroverai {
  color: black;
}

h2 {
  padding-top: 20px;
  padding-left: 20px;
  font-size: 30px;
}

h2#mob {
  color: red;
}

#trova {
  font-size: 30px;
  line-height: 1.5em;
  margin-left: 20px;
}

.navigation {
  display: none;
}

#secondobox, #quartobox, #quintobox {
  margin-top: 100px;
 
  background-color: #E8DCD8;
  border-bottom: none;
  height: auto;
}

h1 {
  color: #994138;
  font-size: 60px;
}

#secondobox {
  height: auto; padding-bottom: 120px;
}

#terzobox {
  background-color: #E8DCD8;
  height: 260px;
  margin-top: 18px;
}

#quartobox {
display: none;
margin: 0;
border: 0;
padding: 0;
}

#popcorn {
  display: none;
}
#quintobox {
  padding-bottom: 20px;
  margin-top: 0px;
}

#sfera {
  width: 200px;
  left: 56px;
  position: relative;
}

#misentosensibile {
  color: #994138;
  font-size: 60px;
  text-align: center;
  padding-top: 20px;
  position: relative;
  right: 95px;
  bottom: 30px;
}

#ladeafortunatesto {
  bottom: 40px;
  color: #222222;
  position: relative;
}

#testo1, #testo2
{
  font-size: 30px;
  padding-left: 80px;
  padding-right: 80px;
}

#iconfilm {
  width: 30em;
  padding-left: 20px;
  float: none;
  right: 140px;
  left: auto;
  margin-bottom: 30px;

}

.fb-comments {
  width: 100%;
}

#footer {
   border-radius: 0;
  width: 100%;
  max-width: 100%;
  height: 100px;
 margin-left: 0;
}

}
