@media only screen and (min-width: 1px) and (max-width: 1024px) {

body {
	background-color: #F1F1F1;
}

.main_section {
	width: 200em;
	max-width: 100%;
	margin-right: 20em;
	float: none;
	clear:both;
}


	.container-fluid {width: 100%;
	}




.sidebar  {float: none;
width: 100%
margin-right= 0;
}


p {float: none;
width: 100%
margin-right= 20;
clear:both;
}

}
