
@media only screen and Umin-width: 576px) and (max-width: 767.98px) { 
body: {
     background: #00000;
}

{

	
	.container-fluid {width: 100%}
}


.sidebar  {float: none;
width: 100%
margin-right= 0;
}


p {float: none;
width: 100%
margin-right= 0;
}
