 body {
  background-image: url(../imgs/sfondo2.png), url(../imgs/sfondo.png);
  background-repeat: repeat-y, repeat;
  background-position: center;
  background-attachment: fixed;
}


.navbar.navbar-expand-lg.navbar-dark.bg-dark.fixed-top {
  margin-left: auto;
  margin-right: auto;
  display: block;
  width: 920px;
  background-color: black;
}

.fb-like {

  padding-left: auto;
  padding-right: auto;
  margin-left: auto;
  margin-right: auto;
  display: block;
  border-left: auto;
  border-right: auto;
}

.fb-comments {
  max-width: 100%;
}

#main {
  transition: margin-left .5s;
  padding: 16px;
}


a { 
  color: #122427;
  text-decoration: none; 
}
a:hover {
  color: #122427;
  text-decoration: underline;
   
}


main {
  font-family: 'Jaldi', sans-serif;
  font-size: 100%;
  color: #000000;
  padding: 30px 20% 30px 20%;
}

h1,{
 padding-top: 70px;
}

h1, h2, h3, h4 {
  font-family: 'Source Sans Pro', sans-serif;
  text-align: center;
  padding-top: 20px;
  font-size: 30px;
  color: #112326;
}


#titolo1, #titolo2, #titolo3 {
  width: 60%;
  padding-top: 20px;
  padding-bottom: 10px;
    display: block;
}

#titolo2 {
  width: 30%;
}

#titolo3 {
  width: 40%;
  padding-bottom: 30px;
}

}
#myBtn {border: none;
  background-color: inherit;
  font-size: 1em;
  cursor: pointer;
  display: inline-block;
  font-style: italic;}

p {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 20px;
  padding-top: 16px;
  color: black;
}

#presentazione {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 17px;
  padding-top: 15px;
  padding-bottom: 20px;
  color: black;
  padding-left: auto;
  padding-right: auto;
}

footer {
  color: black;
  text-align: center;
  padding-top: 5em;
  font-size: 0.5em;
}

footer a {
  color: black;
}

.container {
  margin-left: auto;
  margin-right: auto;
  max-width: 50em;
  display: block;
}

.logo {
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 20px;
  margin-top: 5em;
  display: block;
  width: 25em;
}

.separe {
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 50em;
}

* {
  box-sizing: border-box;
}

/* Create two equal columns that floats next to each other */
.column {
  float: left;
  width: 50%;
  padding: 10px;

}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

h2 {
  text-align: center;
  font-family: 'Nunito', sans-serif;
  padding-top: 50px;
}

h3 {
  text-align: left;
  font-size: 40px;
  padding-left: 40px;
  font-family: 'Nunito', sans-serif;
  
}

h3:hover {
  opacity: 0.5;
  transition: 0.5s;
}

h4 {
  font-size: 14px;
  color: grey;
  text-align: left;
  padding-top: 0;
  padding-left: 40px;
  text-decoration: underline;
}

h5 {
  padding-top: 20px;
  text-align: left;
  font-size: 40px;
  padding-left: auto;
  padding-right: auto;
  font-family: 'Nunito', sans-serif;
  
}

h6 {
  font-size: 14px;
  color: grey;
  text-align: left;
  padding-top: 0;
  text-decoration: underline;
}

p {
  margin-left: 40px;
  margin-right: 40px;
  font-family: 'Lato', sans-serif;
  font-size: 16px;
}

p.motoreciakazione {
  margin-top: 40px;
}

.image#prova {
  content: url(../imgs/io.png);
  width: 300px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 20px;

}

.image#murakami
{
  content: url(../imgs/murakami.png);
  width: 375px;
  margin-top: 55px;
  margin-bottom: 20px;

}

.image#seguimi {
  content: url(../imgs/seguimi.png);
  width: 250px;
  margin-left: 70px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.image#racconti2 {
  content: url(../imgs/racconti2.png);
  width: 210px;
  margin-top: 20px;
  margin-bottom: 20px;

}

.image#racconti2:hover {
  opacity: 0.5;
  transition: 0.5s;
}

.image#cineception {
  content: url(../imgs/cineception.png);
  width: 280px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.image#cineception:hover {
  opacity: 0.5;
  transition: 0.5s;
}

.image#qualcosa {
  content: url(../imgs/qualcosa.png);
  width: 220px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.image#qualcosa:hover {
  opacity: 0.5;
  transition: 0.5s;
}

.image#thetrumanshow {
  content: url(../imgs/trumanshow.jpg);
  width: 400px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  border: 1px solid black;
}

.image#thetrumanshow2 {
  content: url(../imgs/trumanshow2.jpg);
  width: 400px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  border: 1px solid black;
}

.primo {
  border:double;
}

.previous, .next { 
  line-height: 80%;
  font-size: 20px;
  padding-top: 30px;
  padding-bottom: 30px;
   }

.previous {
  text-align: left;

}

.next {
  text-align: right;
}

a:hover {
  text-decoration: none;
}

.previous:hover, .next:hover {
  opacity: 0.5;
  transition: 0.5s;

}
